.header-footer {
    color: #000;
    font-family: 'Orbitron', sans-serif;
    /* text-align: center; */
}

.signUp {
    color: #F92672;
}

.signUpLink {
    color: #000 !important;
    cursor: pointer;
    font-family: 'Orbitron', sans-serif;
}

.signUpLink:hover {
    text-decoration: underline !important;
}

.loginForm {
    background-color: #e2e3e5;
    padding: 20px;
    border-radius: 20px;
    border: 3px inset white;
}

@media(max-width: 500px) {
    .loginForm {
        margin: 20px auto;
        width: 90%;
    }
}