.card {
    box-shadow: 0 0 7px #FFF;
    border: 2px lightblue outset;
    max-height: 340px;
    height: 340px !important;
}

.card-img-top {
    max-height: 200px;
    height: 200px !important;
}


.card-text {
    font-family: 'Orbitron', sans-serif;
    font-size: 14px;
}

@media(max-width: 700px) {
    .card {
        width: 80%;
        margin: 0 auto;
    }
}