.navbar-brand { 
    color: #79D6FF !important;
    font-size: 30px;
    font-family: 'Orbitron', sans-serif;
    border-right: 1px inset gray;
    padding-right: 15px;
}

ul {
    font-size: 17px;
}

.nav-item {
    padding-right: 10px;
}

.nav-link, .NavBar-link {
    font-family: 'Orbitron', sans-serif;
}

.nav-link:hover {
    color: #79D6FF !important;
}

.NavBar-link {
    color: white;
}

.NavBar-link:hover {
    color: #79D6FF !important;
    text-decoration: none !important;
}

.logout {
    margin-top: 4.3%;
}

