.navbar-brand { 
    color: #79D6FF !important;
    font-size: 30px;
    font-family: 'Orbitron', sans-serif;
    /* text-shadow: 0 0px 3px white; */
}

ul {
    font-size: 17px;
}

.nav-item {
    padding-right: 15px;
}

.logout {
    margin-top: 5%;
}

