body {
    background-color: #272822;
}

.Wrapper {
    display: flex; 
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: flex-start;
    align-content: center;
    margin: 200px auto;
    /* background-color: white; */
}

.Welcome {
    width: 50%;
    word-wrap: break-word;
}

.mainH1 {
    color: #79D6FF;
    font-family: 'Orbitron', sans-serif;
    font-size: 30px;
}

.welcome {
    color: #F92672;
    font-size: 20px;
 }

 .intro {
    color: #A6E22E;
    font-size: 20px;
    font-family: 'Orbitron', sans-serif;
 }