.login {
    color: #F92672;
}

.loginLink {
    color: #000 !important;
    cursor: pointer;
    font-family: 'Orbitron', sans-serif;
}

.loginLink:hover {
    text-decoration: underline !important;   
}

.signUpForm {
    background-color: #e2e3e5;
    padding: 20px;
    border-radius: 20px;
    border: 3px inset white;
}

@media(max-width: 500px) {
    .signUpForm {
        margin: 20px auto;
        width: 90%;
    }
}